---
---

@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'base/base';

$large-screen:40em;
$medium-screen:30em;



  @import 'nl/hero';


@import 'nl/speakers';
@import 'nl/sponsors';


body{
	margin:0;
}

header{
	background:#060606;
	div.wrap{
		@include outer-container;
	}
} 

.site-title{
	img{
		height:80px;
		width:auto;
	}
}

nav{ 
	@include outer-container;
		background:#808080;
	a{
		display:block;
		@include span-columns(3);
		background:#e0e0e0;
		float:left;
	}
}

div.home{
	@include outer-container;
	padding:1em;
	#mc_embed_signup{
		@include span-columns(6); 

	}
	.updates{
		@include span-columns(12);

    @include media($large-screen) {
		@include span-columns(6);
	}

	}
}

div.page-content{
	@include outer-container;
	.sidebar{
		@include span-columns(3);

	}
	.main{
		@include span-columns(12);
	}
}
div.picwrap{
	background:url(/assets/img/brand/fade2.gif) ;
	background-size:cover;
}
div.highlight-projects{
	@include outer-container;
	padding:1em 0;
	section{

		@include span-columns(3);
	}
} 

article.post-content{
	section{
		@include outer-container;
		div{ 
			@include span-columns(8); 
		}
		aside{ 
			@include span-columns(4); 
		}
	}
}

footer{
	background:#060606;
	section.wrap{
	@include outer-container;
 
	}
} 

.fcontact{
	text-align:center;
	padding:1em;
}

.speak{
	border-bottom: 1px solid #09D4CC;
	section{
    @include media($large-screen) {
			@include span-columns(9); 
		}
  a{
    color:#09D4CC;
  }
	}
	aside{ 
			img{
				width:6em;
			}
    @include media($large-screen) {
		text-align:right;
			@include span-columns(3); 
			img{
				width:90%;
			}
		}

	}
}
 
