<div id="speakers">
  <div class="wrap">
  <div class="comment-intro">
  	<h1>Make a weekend of it?</h1>
  	<p>The weekend following Northern Lights sees Code The City Aberdeen, a civic hacking event also held at the university of Aberdeen.</p>
  </div>

 

   
  <div class="comment">
    <div class="comment-image"> 
      <img src="/assets/img/2014/speakers/hex-blank.jpg" alt="">
    </div>
    <div class="comment-content">
      <h1>More TBC</h1>
      <p>We'll be announcing more speakers over the coming weeks.</p> 
    </div>
  </div>
</div>
</div>