<footer >
 
    <section class="wrap" >
          <a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/img/brand/site-foot.jpg" /></a> 
    
 
    </section>
 

</footer>

<div id="team">
  <div class="wrap">




	<p class="fcontact"><strong>Who does this?</strong> If you have any questions about Northern Lights please get in touch with:</p>

	<div class="speak">
  <aside><img src="/assets/us/bruce.jpg" alt=""></aside>
  <section><h1>Bruce Scharlau</h1>  
      <p><a href="http://www.linkedin.com/in/brucescharlau">Bruce</a> is <a href="http://homepages.abdn.ac.uk/b.scharlau/pages/">Senior Lecturer</a> in the <a href="http://www.abdn.ac.uk/ncs/computing/">Department of Computing Science</a> at the University of Aberdeen.</p><p>He is very active in the community, organising events throughout the year, including <a href="http://codethecity.org">Codethecity</a>.</p>
  
       
      <p> <a href="http://twitter.com/scharlau"><i class="fa fa-twitter fa-2x"></i></a>   
         <a href="http://www.linkedin.com/in/brucescharlau"><i class="fa fa-linkedin fa-2x"></i></a>   
        </p></section>
	</div>	

	<div class="speak">
  <aside><img src="/assets/us/steve.jpg" alt=""></aside>
  <section><h1>Steve Milne</h1>  
      <p>Steve is Solution Architect with <a href="http://fifthring.com">Fifth Ring</a>, as well as Northern Lights he organises <a href="http://codethecity.org">Codethecity</a> and <a href="http://refreshaberdeen.com">Refresh Aberdeen</a>, dabbles with <a href="http://constraints.co">training games</a>, and occassionally <a href="http://stevenmilne.com">blogs</a>. </p>
  
       
      <p> 
      	<a href="http://twitter.com/stevenmilne"><i class="fa fa-twitter fa-2x"></i></a>  
      	<a href="https://www.linkedin.com/in/stevenmilne"><i class="fa fa-linkedin fa-2x"></i></a>  
      	<a href="mailto:steve@refreshaberdeen.com"><i class="fa fa-envelope-o fa-2x"></i></a>   
      	
        </p></section>
	</div>

 </div> 
</div>

 