<footer>
 
	<h3>Northern Lights Conference 2013</h3>

	<p>Our lovely aurora pics are from Flickr CC search, <a href="http://www.flickr.com/photos/b_olsen/4443807069/sizes/o/">here</a>, <a href="http://www.flickr.com/photos/svenbader/423938550/sizes/o/">here</a>, and <a href="http://www.flickr.com/photos/larsfl/5700191174/sizes/l/in/photolist-9FGYfb-98by7T-98bxY4-98by3Z-7DKUo4-azfaGE-am5Zcv-dQ3p7L-dQ3p81-aoJnpb-dPWLUa-eA8ad5-aoFzPT-aoF9r2-bnzzyC-7NdDcy-7N9DLX-bnzzTC-7JTJPb-9qdpFJ-aoFUxH-dZkrSt-9m61WT-94CGMW-dZksJR-bi61wc-akRuzk-arsy6w-bypy4Y-eP2c9e-9sePbr-97dBb6-9qaKsj-aDuAST-aDuBec-aDysp3-aDysF5-aDuAGt-aDuAVZ-aDuAL2-9shMSf-9shLoQ-9shMbJ-9seMFV-9seLTv-9shMxh-ekjW4q-aDuB1R-aDuABg-aDuBa6-bp5yBg/">here</a></p>
</footer>