<footer>
  <p class="pull-right"><a class="btn btn-large btn-primary" href="https://tito.io/aberdeen/northernlights">Get your ticket</a></p>
	<h3>Northern Lights Conference 2013 / <a href="https://twitter.com/search?q=%23northlight2013">#northlight2013</a></h3>

	<p>Our lovely aurora pics are from Flickr CC search, <a href="http://www.flickr.com/photos/b_olsen/4443807069/sizes/o/">here</a>, <a href="http://www.flickr.com/photos/svenbader/423938550/sizes/o/">here</a>, and <a href="http://www.flickr.com/photos/larsfl/5700191174/sizes/l/in/">here</a>, and our King's College pic from <a href="http://www.flickr.com/photos/evitas_webfotos/2407910758/">here</a>.</p>
</footer>