    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home.html">NLCONF '13</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/supporters">Sponsorship</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://tito.io/aberdeen/northernlights">Book now</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>