<div id="speakers">
  <div class="wrap">

<div class="speak">


  <div class="comment-intro">
  	<h1>Schedule</h1>
  	<p>We have an exciting roster of speakers for 2014. Covering all aspects of technology, from policy to debugging, from open data to hardware.</p>
  </div>
   
 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>08:00<h1>REGISTRATION  </h1>  
     </section>
</div>

<div class="speak">
  <aside>&nbsp;</aside>
  <section>09:00 <h1>WELCOME</h1>  
     </section>
</div>

<div class="speak">
  <aside><img src="/assets/img/2014/speakers/hex-greg.jpg" alt=""></aside>
  <section><p>09:00</p><h1>Greg Hoyna Kozakiewicz</h1>  
      <p><a href="http://uk.linkedin.com/in/greghoyna/">Greg</a> is Head of Design and User Research at The Scottish Government. He leads a teams of multidisciplinary individuals who work in an agile environment transforming the way public services are delivered to the citizens and businesses of Scotland.</p>
  
<p>Their key product is <a href="http://Mygov.scot">Mygov.scot</a> which is the Scottish Government’s largest, most complex digital change programme. It will deliver a single, but not exclusive, point of entry to all digital public services for 180 public sector organisations at national and local level. Mygov.scot will be supported by the implementation of common standards and a collaborative framework for the redesign of public sector services based on the needs of Scottish citizens. </p>
  
       
      <p> <a href="http://twitter.com/pencilrebel"><i class="fa fa-twitter fa-2x"></i></a>   
        </p></section>
</div>
 

   <div class="speak">
  <aside><img src="/assets/img/2014/speakers/hex-dave.jpg" alt=""></aside>
  <section>09:45<h1>Dave Hibberd</h1>  
      <p>Dave is a hacker and an engineer driven by curiosity and excitement. During the day, he works as a telecoms project engineer in oil & gas. By night, he takes things apart, stares at their innards and usually fails to put them back together properly.</p>

<p>Dave is totally committed to growing hacker and maker culture, and is taking an active role in Aberdeen’s local hackerspace, <a href="https://57north.co/">57North</a>, to help provide others opportunities for learning, excitement and life changing experiences that these social spaces offer.</p>
       
      <p> <a href="https://twitter.com/Hibbie"><i class="fa fa-twitter fa-2x"></i></a>   
        <a href="http://beta.hibby.info"><i class="fa fa-wordpress fa-2x"></i></a>  </p></section>
</div>
           
   <div class="speak">
  <aside>&nbsp;</aside>
  <section>10:20<h1>COFFEE</h1>  
     </section>
</div>

 <div class="speak">
  <aside><img src="/assets/img/2014/speakers/hex-laura.jpg" alt=""></aside>
  <section>10:45<h1>Laura Walker</h1>  
      <p>Wearable technology may seem like the latest consumer gadgets that has little relevance in a business environment or to the average Joe Bloggs. However, wearing a piece of kit, that allows data to be captured, digitalised, stored and catalogued is invaluable and a real step change in the way we do things.</p>

<p>Laura currently works for Aberdeen based IT services provider <a href="http://www.ifb.net/">IFB</a>, managing the marketing of their key services.  Laura keeps a keen eye on the technology industry; the trends, new concepts and the latest gadget and often blogs and runs events on what’s new in the industry.</p>
  
       
      <p> <a href="https://twitter.com/IFB_LTD"><i class="fa fa-twitter fa-2x"></i></a>   
        </p></section>
</div>



<div class="speak">
  <aside><img src="/assets/img/2014/speakers/hex-rory.jpg" alt=""></aside>
  <section>11:30<h1>Rory McCune</h1>  
      <p>Rory has worked in IT and Information Security for the past 19 years. In that time, has held posts in several large UK financial services companies and consultancies looking at different aspects of security.</p>
<p>For the last 9 years he's focused on technical security issues as a "penetration tester" aka "ethical hacker" aka "person who writes word reports about how bad security is" and he is currently a managing consultant with NCC Group PLC</p>
  
       
      <p> <a href="https://twitter.com/raesene"><i class="fa fa-twitter fa-2x"></i></a>   
        </p></section>
</div>

 

<div class="speak">
  <aside>&nbsp;</aside>
  <section>12:00<h1>LUNCH  </h1>  
     </section>
</div>


<div class="speak">
  <aside>&nbsp;</aside>
  <section>12:45<h1>OPEN SPACE VOTING  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>13:45<h1>OPEN SPACE 1  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>14:30<h1>OPEN SPACE 2  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>13:00<h1>OPEN SPACE 3  </h1>  
     </section>
</div>


          
          

<div class="speak">
  <aside><img src="/assets/img/2014/speakers/hex-kate.jpg" alt=""></aside>
  <section>15:20 <h1>Kate Ho</h1>  
      <p>Kate Ho is Product Manager at <a href="https://www.project-ginsberg.com/">Project Ginsberg</a>, a Scottish Government project that helps ordinary people to understand themselves better.</p>
<p>Based around the concept of the ‘emotional web’, Ginsberg provides a safe place for individuals to externalise, reflect and validate their experiences. Also, under <a href="http://www.tigerfacegames.com/">Tigerface Games</a> and <a href="http://www.interface3.com/">Interface3</a>, she has worked on award winning  educational games, as well as working with global brands including Pearson Education, PBS KIDS, SMART Technologies. Her academic background is in Computer Science, and navigated through academia with a PhD in requirements engineering and software development from Edinburgh University.</p>
  
       
      <p> <a href="http://twitter.com/kateho"><i class="fa fa-twitter fa-2x"></i></a>   
        </p></section>
</div>

 
          

<div class="speak">
  <aside><img src="/assets/img/2014/speakers/hex-emma.jpg" alt=""></aside>
  <section>16:00 <h1>Emma Mulqueeny</h1>  
      <p>Emma is the founder of <a href="http://rewiredstate.org/">Rewired State</a> and <a href="https://youngrewiredstate.org/">Young Rewired State</a>, is a Commissioner for the Speaker’s Commission on Digital Democracy and a Google Fellow.</p>
<p>She has recently been included in the 166th annual edition of Who’s Who, voted onto the Wired 100 list, Tech City 100, BIMA Hot 100, has been voted one of the top ten women in technology by The Guardian, into the top ten Tech Heroes for Good by NESTA and named as one of the 25 most influential women in IT by Computer Weekly.</p>
<p>Emma writes regularly for the British Press and on her own <a href="http://mulqueeny.wordpress.com/">blog</a>, speaks on radio and on television, is best known for her campaign: ‘Year 8 is too Late’ (encouraging girls into technology subjects) and relentlessly pushing the potential of open data.</p>
  
       
      <p> <a href="http://twitter.com/Hubmum"><i class="fa fa-twitter fa-2x"></i></a>   
        <a href="http://mulqueeny.wordpress.com"><i class="fa fa-wordpress fa-2x"></i></a>  </p></section>
</div>

 

 
   
</div>
</div>
</div>