<div id="speakers">
  <div class="wrap">

<div class="speak">


  <div class="comment-intro">
  	<h1>Schedule</h1>
  	<p>We are pulling together an exciting roster of speakers for 2016 and will announce them shortly. Northern Lights is a one day event, starting at 9, ending around 5. </p>
  </div>
   
 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>08:00<h1>REGISTRATION  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>09:00 <h1>WELCOME</h1>  
     </section>
</div>

<div class="speak">
  <aside>&nbsp;</aside>
  <section><p>09:00</p><h1>TBC</h1>  
       </section>
</div>
 

   <div class="speak">
  <aside>&nbsp;</aside>
  <section>09:45<h1>TBC</h1>  
     </section>
</div>
           
   <div class="speak">
  <aside>&nbsp;</aside>
  <section>10:30<h1>COFFEE</h1>  
     </section>
</div>

 <div class="speak">
  <aside>&nbsp;</aside>
  <section>11:00<h1>TBC</h1>  
      </section>
</div>
 

<div class="speak">
  <aside>&nbsp; </aside>
  <section>11:45<h1>Open Space Intro</h1>  
      <p>A quick outline of the joys of open space, and how to get the most out of the afternoon.</p>
  
        </section>
</div>
 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>12:00<h1>LUNCH  </h1>  
     </section>
</div>


<div class="speak">
  <aside>&nbsp;</aside>
  <section>12:45<h1>OPEN SPACE VOTING  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>13:00<h1>OPEN SPACE 1  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>13:45<h1>OPEN SPACE 2 </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>14:30<h1>OPEN SPACE 3  </h1>  
     </section>
</div>



<div class="speak">
  <aside>&nbsp;</aside>
  <section>15:20<h1>TBC</h1>  
      </section>
</div>

          

<div class="speak">
  <aside>&nbsp;</aside>
  <section>16:00 <h1>Jessica Rose</h1>
   {% include /speakers/jess.md %}
  </section>
</div>

 
          
 

 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>17:00<h1>CLOSE </h1>  
    <p></p>
     </section>
</div>


 
   
</div>
</div>
</div>
