<div id="speakers">
  <div class="wrap">

<div class="speak">


  <div class="comment-intro">
  	<h1>Schedule</h1>
  	<!-- <p>We are pulling together an exciting roster of speakers for 2016 and will announce them shortly. Northern Lights is a one day event, starting at 9, ending around 5. </p> -->
    <p>We have an exciting line up of speakers for 2016 as you can see below.</p>
  </div>
   
 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>08:00<h1>REGISTRATION</h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>09:00 <h1>WELCOME</h1>  
  <p>All talks are 30 minutes with ten minute gap between talks.</p>
     </section>
</div>

<div class="speak">
  <aside>&nbsp;</aside>
  <section><p>09:05</p><h1>Peter Aitken</h1>  
  <p>How to be a better member of the community, and get more out of today.</p>
       </section>
</div>
 

   <div class="speak">
  <aside>&nbsp;</aside>
  <section>09:45<h1>Andrew Garden</h1>  
  <p>The Student Sins micro social network student startup.</p>
     </section>
</div>
           
   <div class="speak">
  <aside>&nbsp;</aside>
  <section>10:30<h1>COFFEE</h1>  
     </section>
</div>

 <div class="speak">
  <aside>&nbsp;</aside>
  <section>11:00<h1>David Jones</h1>  
  <p>Engineers and the support relationship with customers at FreeAgent.</p>
      </section>
</div>
 
 <div class="speak">
  <aside>&nbsp;</aside>
  <section>11:40<h1>Eve Georgieva</h1>  
  <p>TBA</p>
      </section>
</div>

<div class="speak">
  <aside>&nbsp; </aside>
  <section>12:10<h1>Open Space Intro</h1>  
      <p>A quick outline of the joys of open space, and how to get the most out of the afternoon.</p>
        </section>
</div>
 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>12:30<h1>LUNCH  </h1>  
     </section>
</div>

<div class="speak">
  <aside>&nbsp;</aside>
  <section>13:00<h1>OPEN SPACE 1  </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>13:35<h1>OPEN SPACE 2 </h1>  
     </section>
</div>
<div class="speak">
  <aside>&nbsp;</aside>
  <section>14:10<h1>OPEN SPACE 3  </h1>  
     </section>
</div>
 <div class="speak">
  <aside>&nbsp;</aside>
  <section>14:40<h1>COFFEE</h1>  
     </section>
</div>

<div class="speak">
  <aside>&nbsp;</aside>
  <section>15:20<h1>Charlie Egan</h1> 
  <p>Development Re-bundling with Docker</p> 
      </section>
</div>       

<div class="speak">
  <aside>&nbsp;</aside>
  <section>16:00 <h1>Jessica Rose</h1>
  <p>Fandom, geeks, and building equitable open source communities.</p>
   
  </section>
</div>

 
          
 

 
<div class="speak">
  <aside>&nbsp;</aside>
  <section>17:00<h1>CLOSE </h1>  
    <p></p>
     </section>
</div>


 
   
</div>
</div>
</div>
