<div id="speakers">
  <div class="wrap">

<div class="speak">


  <div class="comment-intro">
  	<h1>Our Speakers</h1>
  	<p>These were our speakers for 2016 so that you have an idea of the types of speakers you can expect to see in 2018. Covering all aspects of technology, from startups and technology to community building from a variety of perspectives.</p>
  </div>


   {% for post in site.speakers %}

<div class="speak">
  <aside><img src="{{ post.img }}" alt=""></aside>
  <section><h1>{{ post.short_title }}</h1>
      {{ post.content }}

      <p>{% if post.twitter %} <a href="{{ post.twitter}}"><i class="fa fa-twitter fa-2x"></i></a>  {% endif %}
       {% if post.website %} <a href="{{ post.website}}"><i class="fa fa-globe fa-2x"></i></a> {% endif %} </p></section>
</div>





          {% endfor %}






</div>
</div>
</div>
