
<div id="sponsors">
  <div class="wrap">
  	<div class="grid-items">
<h1>Sponsorship</h1>
<p> Without the help of our sponsors we just couldn't run the conference. If you would like to sponsor the 2018 event please check the <a href="/sponsorship/">sponsorship opportunities</a> and get in touch.</p>
<p> <a href="https://www.abdn.ac.uk/ncs/departments/computing-science/index.php"><img alt="University of Aberdeen" src="/assets/img/logo/universityaberdeen.jpg"></a>
</p>
 <h3>Thanks to our sponsors for helping to make Northern Lights 2018 a success.</h3>
</div>
</div>
</div>
