
<div id="sponsors">
  <div class="wrap">
  	<div class="grid-items">
<h1>Sponsorship</h1>
<p> Without the help of our sponsors we just couldn't run the conference. If you would like to sponsor the 2016 event please check the <a href="/sponsorship/">sponsorship opportunities</a> and get in touch.</p>
<p><a href="https://unboxed.co"><img alt="Unboxed" src="/assets/img/logo/unboxed.png"></a> <a href="https://www.abdn.ac.uk/ncs/departments/computing-science/index.php"><img alt="University of Aberdeen" src="/assets/img/logo/universityaberdeen.jpg"></a> <a href="http://www.codify.ltd.uk/"><img alt="Codify" src="/assets/img/logo/codify.png"></a>  <a href="https://www.freeagent.com"><img alt="FreeAgent" src="/assets/img/logo/freeagent.png"></a> <a href="https://www.arnoldclark.com"><img alt="Arnold Clark" src="/assets/img/logo/arnoldclark.jpg"></a> 
 <a href="http://www.cultivatehq.com"><img alt="Cultivate" src="/assets/img/logo/cultivate-logo.png">
 <a href="https://wearesnook.com"><img alt="Snook" src="/assets/img/logo/snook.png"></a>

</p>
 
</div>
</div>
</div>
