  <h2>Conference Supporters</h2>
  <p>Thank you to all our supporters listed here, without your help we couldn't put the conference on. To join them please <a href="/supporters">get in touch</a>.</p>

  <div class="row">
    <div class="col-lg-4">
      <a href="http://abdn.ac.uk"><img class="img-thumbnail" src="/assets/img/logo/universityaberdeen.jpg" data-src="" alt="Aberdeen university"></a>
      <h2>University of Aberdeen</h2>
      <a href="http://twitter.com/aberdeenuni">@aberdeenuni</a>
    </div>
    <div class="col-lg-4">
      <a href="http://fifthring.com"><img class="img-thumbnail" src="/assets/img/logo/fifthring.jpg" data-src="" alt="Fifth Ring"></a>
      <h2>Fifth Ring</h2>
      <a href="http://twitter.com/fifthring">@fifthring</a>
    </div>

    <div class="col-lg-4">
      <a href="http://www.codify.ltd.uk/"><img class="img-thumbnail" src="/assets/img/logo/codify.png" alt="logo"></a>
      <h2>Codify</h2>
      <a href="http://twitter.com/TeamCodify">@TeamCodify</a>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4">
      <a href="http://neo.com"><img class="img-thumbnail" src="/assets/img/logo/neo.jpg" data-src="" alt="Aberdeen university"></a>
      <h2>NEO</h2>
      <a href="http://twitter.com/TeamCodify">@neo_gb</a>
    </div>
    <div class="col-lg-4">
      <a href="http://aaajobs.co.uk"><img class="img-thumbnail" src="/assets/img/logo/aaa.jpg" data-src="" alt="Fifth Ring"></a>
      <h2>Aberdeen Appointments Agency</h2>
      <a href="https://www.facebook.com/pages/Aberdeen-Appointments-Agency/109601402374?sk=wall">on facebook</a>
    </div>

    

  </div><!-- /.row -->

     <!--  <div class="row">
        <div class="col-lg-3">
          <img class="img-thumbnail" src="data:image/png;base64," data-src="holder.js/180x180?text=..." alt="logo">
          <h3>Fifth Ring</h3>  
        </div> 
         
        <div class="col-lg-3">
          <img class="img-thumbnail" src="data:image/png;base64," data-src="holder.js/180x180" alt="logo">
          <h3>Fifth Ring</h3>  
        </div> 
         
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="data:image/png;base64," data-src="holder.js/180x180" alt="logo"></a>
          <h3>Refresh Aberdeen</h3>  
        </div>< 
         
        <div class="col-lg-3">
          <a href="#"><img class="img-thumbnail" src="data:image/png;base64," data-src="holder.js/180x180" alt="logo"></a>
          <h3>Refresh Aberdeen</h3>  
        </div>
         
      </div> 

    -->