<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-common.html %}
    <title>Northern Lights 2013</title>
    <meta name="description" content="">
  </head>
  <body>
    {% include navigation.html %}
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/massive/sky3.jpg" data-src="" alt="Northern Lights 2013">
          <div class="container">
            <div class="carousel-caption">
              <h1>Northern Lights 2013</h1>
              <p>Northern Lights Conference is now in its third year, and will take place on Friday, 18 October in the historic King’s College, Aberdeen. </p>
              <p><a class="btn btn-large btn-primary" href="http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=5
0&catid=23&prodid=171">Get your ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/img/massive/sky2.jpg" data-src="" alt="18th October 2013">
          <div class="container">
            <div class="carousel-caption">
              <h1>18th October 2013</h1>
              <p>A full day catered event where you can learn from and with a great group of developers and innovators.</p>
              <p><a class="btn btn-large btn-primary" href="http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=5
0&catid=23&prodid=171">Get your ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item"  >
          <img src="/assets/img/massive/sky1.jpg" data-src="" alt="Great talks and sessions">
           
          <div class="container">
            <div class="carousel-caption">
              <h1>Great talks and sessions</h1>
              <p>A content packed day, with terrific talks and break out discussion sessions for just £15.</p>
              <p><a class="btn btn-large btn-primary" href="http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=5
0&catid=23&prodid=171">Get your ticket</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="container marketing">

      <div class="row conf-highlights">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/img/nlconf/2011-4-tom.jpg" alt="2 keynotes">
          <h2>2 Keynotes</h2>
          <p>We have two terrific keynotes lined up that we'll announce over the coming weeks.</p> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/img/nlconf/2011-1.jpg" alt="8 talks">
          <h2>8 Talks</h2>
          <p>Our speaker list this year covers a wealth of topics, from established speakers and first timers.</p> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/img/nlconf/2011-3.jpg" alt="open space">
          <h2>Open Space</h2>
          <p>We are rebooting our discussions and bringing a flavour of the unconference to Northern Lights. It's going to be fun.</p> 
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8">
          <h3>Venue</h3>
          <h2 class="featurette-heading"> King's College <span class="text-muted">, Old Aberdeen</span></h2>
          <p class="lead">Once again, Northern Lights returns to the historic King's college on the Old Aberdeen campus of Aberdeen University. </p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="/assets/img/nlconf/kings1.jpg" alt="Generic placeholder image"> <!-- http://www.flickr.com/photos/evitas_webfotos/2407910758/ -->
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4">
        </div>
        <div class="col-md-8"> 
          <h2 class="featurette-heading">Speaker Call</h2>
          <p class="lead">We have a great line of speakers that we'll be announcing over the coming days, but we have a speaker slot open. If you'd like to speak at Northern Lights 2013 please get in touch at <a href="mailto:northern.lights.conf@gmail.com">northern.lights.conf@gmail.com</a>.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8"> 
          <h2 class="featurette-heading"><span class="text-muted">ANNOUNCING</span> SOON</h2>
          <p class="lead">We'll be announcing a speaker every couple of days from here on in. Grab a ticket to get the updates straight to your mailbox, or <a href="https://twitter.com/northlight_conf">follow us on twitter</a>.</p>
        </div>
        <div class="col-md-4"> 
        </div>
      </div>

      <hr class="featurette-divider">
 
      {% include supporters.html %} 

      <hr class="featurette-divider">

      {% include footer.html %}

    </div><!-- /.container -->
 
    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
  </body>
</html>