<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-common.html %}
    <title>Northern Lights 2013</title>
    <meta name="description" content="">
  </head>
  <body>
    {% include navigation.html %}
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/massive/sky3.jpg" data-src="" alt="Northern Lights 2013">
          <div class="container">
            <div class="carousel-caption">
              <h1>Northern Lights 2013</h1>
              <p>Northern Lights Conference is now in its third year, and will take place on Friday, 18 October in the historic King’s College, Aberdeen. </p>
              <p><a class="btn btn-large btn-primary" href="http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=5
0&catid=23&prodid=171">Get your ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/img/massive/sky2.jpg" data-src="" alt="18th October 2013">
          <div class="container">
            <div class="carousel-caption">
              <h1>18th October 2013</h1>
              <p>A full day catered event where you can learn from and with a great group of developers and innovators.</p>
              <p><a class="btn btn-large btn-primary" href="http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=5
0&catid=23&prodid=171">Get your ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item"  >
          <img src="/assets/img/massive/sky1.jpg" data-src="" alt="Great talks and sessions">
           
          <div class="container">
            <div class="carousel-caption">
              <h1>Great talks and sessions</h1>
              <p>A content packed day, with terrific talks and break out discussion sessions for just £15.</p>
              <p><a class="btn btn-large btn-primary" href="http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=5
0&catid=23&prodid=171">Get your ticket</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="container marketing">


 
    

      <div class="row conf-highlights">
        <div class="col-lg-4">
          <a href="/speakers/2013/09/23/hadi-hariri.html"><img class="img-circle" src="/assets/img/nlconf/hadi.png" alt="Hadi Hariri"></a>
          <h2><a href="/speakers/2013/09/23/hadi-hariri.html">Hadi Hariri</a></h2>
          <p>THE IMPORTANCE OF TOOLING FOR DEALING WITH LEGACY CODE BASES</p> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="/speakers/2013/09/24/sarah-drummond.html"><img class="img-circle" src="/assets/img/nlconf/sarahsq.jpg" alt="sarah-drummond"></a>
          <h2><a href="/speakers/2013/09/24/sarah-drummond.html">Sarah Drummond</a></h2>
          <p>DO-TANKS FOR GOVERNMENT, LIVING LIFE IN PERPETUAL BETA AND BEING COMFORTABLE WITH THE UNKNOWN</p> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <a href="/speakers/2013/09/23/kendall-miller.html"><img class="img-circle" src="/assets/img/nlconf/kendall.jpeg" alt="Kendall Miller"></a>
          <h2><a href="/speakers/2013/09/23/kendall-miller.html">Kendall Miller</a></h2>
          <p>BEYOND THE DEBUGGER: EXTENDING THE DEVELOPER TOOL CHAIN</p> 
        </div><!-- /.col-lg-4 -->
         

        <div class="col-lg-4">
          <a href="/speakers/2013/09/23/kate-stone.html"><img class="img-circle" src="/assets/img/nlconf/kate.jpg" alt="Kate Stone"></a>
          <h2><a href="/speakers/2013/09/23/kate-stone.html">Kate Stone</a></h2>
          <p>INTERACTIVE PAPER</p> 
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <a href="/speakers/2013/10/02/maria-gutierrez.html"><img class="img-circle" src="/assets/img/nlconf/maria2.jpg" alt="Maria Gutierrez"></a>
          <h2><a href="/speakers/2013/10/02/maria-gutierrez.html">Maria Gutierrez</a></h2>
          <p>BUILDING THE RIGHT TOOL FOR THE JOB</p> 
        </div><!-- /.col-lg-4 -->
        

        <div class="col-lg-4">
          <a href="/speakers/2013/09/23/niall-merrigan.html"><img class="img-circle" src="/assets/img/nlconf/merrigan.jpg" alt="Niall Merrigan"></a>
          <h2><a href="/speakers/2013/09/23/niall-merrigan.html">Niall Merrigan</a></h2>
          <p>PRESENTATIONS FROM BEGINNER TO NOT SO BEGINNER</p> 
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <a href="/speakers/2013/09/23/glenn-henriksen.html"><img class="img-circle" src="/assets/img/nlconf/glen1.jpg" alt="glenn-henriksen"></a>
          <h2><a href="/speakers/2013/09/23/glenn-henriksen.html">Glenn Hendriksen</a></h2>
          <p>LEADING WITHOUT FORMAL AUTHORITY</p> 
        </div><!-- /.col-lg-4 -->
         

      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row conf-highlights">
        <div class="col-lg-4">  
        </div><!-- /.col-lg-4 --> 
        <div class="col-lg-4"> 
          <h2>More Speakers Announced Soon...</h2> 
        </div><!-- /.col-lg-4 --> 
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-8">
          <h3>Venue</h3>
          <h2 class="featurette-heading"> King's College <span class="text-muted">, Old Aberdeen</span></h2>
          <p class="lead">Once again, Northern Lights returns to the historic King's college on the Old Aberdeen campus of Aberdeen University. </p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="/assets/img/nlconf/kings1.jpg" alt="Generic placeholder image"> <!-- http://www.flickr.com/photos/evitas_webfotos/2407910758/ -->
        </div>
      </div>

      <hr class="featurette-divider">
 
      {% include supporters.html %} 

      <hr class="featurette-divider">

      {% include footer.html %}

    </div><!-- /.container -->
 
    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
  </body>
</html>