
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <title>Northern Lights 2013</title>
 
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/carousel.css" rel="stylesheet">
  </head>
 
  <body>
 
    {% include navigation.html %} 
 
    <div id="myCarousel" class="carousel slide"> 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/img/massive/sky3.jpg" data-src="" alt="Northern Lights 2013">
          <div class="container">
            <div class="carousel-caption">
              <h1>Northern Lights 2013</h1>
              <p>Northern Lights Conference is now in its third year, and will take place on Friday, 18 October in the historic King’s College, Aberdeen. </p>
              <p><a class="btn btn-large btn-primary" href="https://tito.io/aberdeen/northernlights">Get your ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/img/massive/sky2.jpg" data-src="" alt="18th October 2013">
          <div class="container">
            <div class="carousel-caption">
              <h1>18th October 2013</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="https://tito.io/aberdeen/northernlights">Get your ticket</a></p>
            </div>
          </div>
        </div>
        <div class="item"  >
          <img src="/assets/img/massive/sky1.jpg" data-src="" alt="Great talks and sessions">
           
          <div class="container">
            <div class="carousel-caption">
              <h1>Great talks and sessions</h1>
              <p>A content packed day, with a great lunch and break out discussion sessions for just £15.</p>
              <p><a class="btn btn-large btn-primary" href="https://tito.io/aberdeen/northernlights">Get your ticket</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>2 Keynotes</h2>
          <p>We have two terrific keynotes lined up that we'll announce over the coming weeks.</p> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>8 Talks</h2>
          <p>Our speaker list this year covers a wealth of topics, from established speakers and first timers.</p> 
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Open Space</h2>
          <p>We are rebooting our discussions and bringing a flavour of the unconference to Northern Lights. It's going to be fun.</p> 
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/img/nlconf/kate1.jpg" data-src="" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Speaker update <span class="text-muted">Kate Stone</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. <a href="http://www.novalia.co.uk/">Novelia.co.uk</a>.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
 
      {% include supporters.html %} 

      <hr class="featurette-divider">

      {% include footer.html %}

    </div><!-- /.container -->
 
    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
  </body>
</html>