<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero.html %}
  
    
    <div class="page-content">
   
      <div class="main">
        <div>
          <img src="/assets/img/nlconf/2013-cover-2.jpg" />
        </div>
<div class="home">


 <div class="updates"> 
<p>The Northern Lights Conference is now in its 4th year, and will take place on Friday, 17 October in the auditorium of historic King’s College, Aberdeen. Tickets are just £15, including lunch and refreshments.</p>
<p> A bargain for a much needed energy boost as the nights draw in and winter approaches.</p>
<p><a class="button" href="http://www.store.abdn.ac.uk/browse/product.asp?compid=1&modid=2&catid=23"><button>Tickets just £15</button></a></p>
  
</div> 

 <div class="updates"> 
<p>Northern Lights is always a little different, this year is no exception. We have an exciting programme of speakers, open space sessions, and a couple of new surprises planned. We're moving to the bigger auditorium this year, and with the free <a href="http://codethecity.org">CodeTheCity</a> civic hacking weekend kicking off the following day it's a great time for geeks to be in the city.</p> 
  
</div> 
</div>




      </div>
    </div>

    {% include speakers.html %}
    <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>

    {% include sponsors.html %}
    {% include footer.html %}

    </body>
</html>