<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero.html %}
  

<div class="page-content"> 
  <div class="main">
    <div>
    <img src="/assets/2014/auditorium.jpg" />
    </div>
    <div class="home"> 
      <div class="updates"> 
        <p>The 5th Northern Lights Conference will take place place on Friday, 28th October in the auditorium of historic King’s College, Aberdeen.</p> 
      
        <p>You can also see previous years here: <a href="http://2013.northernlightsconf.co.uk/">2013</a>, <a href="http://nlc2012.herokuapp.com/">2012</a>, <a href="http://nlc2011.herokuapp.com/">2011</a>.</p> 
      </div>  
      
    </div> 
  </div>
</div>

    {% include schedule2016.html %}
    


      <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>

    {% include sponsors2016.html %}
    {% include footer.html %}
 
    </body>
</html>
