<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero.html %}


<div class="page-content">
  <div class="main">
    <div>
    <img src="/assets/2014/auditorium.jpg" />
    </div>
    <div class="home">
    <div class="updates">
        <p>We have <a href="http://weareupfront.com">#upfront speakers</a>.</p>
        <p><img alt="#upfront: you can't be what you can't see" src="/assets/img/nlconf/upfront-buttonslogan_small.jpg" /></p> <p>This means you can be on stage without speaking. <a href="http://weareupfront.com/about/">Speakers will share the stage with those who want to speak in the future.</a> Get in touch with <a href="mailto:b.scharlau@abdn.ac.uk">Bruce</a> if you'd like to participate.</p>
      </div>

      <div class="updates">
        <p>The 6th Northern Lights Conference will take place place on Friday, 2, November at the University of Aberdeen.</p>
      </div>



    </div>
  </div>
</div>

    {% include schedule2018.html %}
    {% include speakers.html %}





      <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>

    {% include sponsors2016.html %}
    {% include footer.html %}

    </body>
</html>
