<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero2015.html %}
  

<div class="page-content"> 
  <div class="main">
    <div>
    <img src="/assets/2014/auditorium.jpg" />
    </div>
    <div class="home"> 

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//northernlightsconf.us8.list-manage.com/subscribe/post?u=81602767fa64a0bf55ab99dcf&amp;id=cf4a32f2fe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Join our mailing list to find out when tickets are released</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_81602767fa64a0bf55ab99dcf_cf4a32f2fe" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

      <div class="updates"> 
        <p>The 5th Northern Lights Conference takes place place on Friday, 23rd October in the auditorium of historic King's College, Aberdeen. </p> 
        <p>We'll be announcing speakers shortly. You can <a href = "http://www.store.abdn.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=50&catid=23&prodid=211">buy your tickets</a> online. We don't film the talks at Northern Lights, but to get a feel for previous events we've gathered photos under <a href="https://secure.flickr.com/search/?tags=northlightconf">#northlightconf on Flickr</a>, and you can catch the discussion on <a href="https://twitter.com/hashtag/northlightconf?src=hash">twitter</a>.</p>
        <p>You can also see previous years here: <a href="/2014">2014</a>, <a href="http://2013.northernlightsconf.co.uk/">2013</a>, <a href="http://nlc2012.herokuapp.com/">2012</a>, <a href="http://nlc2011.herokuapp.com/">2011</a>.</p> 
      </div>  
      <div class="updates"> 
        <p>Northern Lights is always a little different, this year will be no exception. We are putting together an exciting programme of speakers, the return of our open space sessions, and a couple of surprises.</p>
        <p>And remember, the <a href="http://codethecity.org">CodeTheCity</a> civic hacking weekend kicks off the following day, or if you fancy something more competitive check out <a href="http://devbar.co.uk">Devbar</a>.</p> 
      </div>  
    </div> 
  </div>
</div>

 
    
    {% include schedule2015.html %}


      <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>
 
    {% include sponsors2015.html %}
    {% include footer.html %}
 
    </body>
</html>
