<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero.html %}
  

      <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>

    {% include sponsors.html %}
    {% include footer.html %}

    </body>
</html>