<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero2015.html %}
  

<div class="page-content"> 
  <div class="main">
    <div>
    <img src="/assets/2014/auditorium.jpg" />
    </div>
    <div class="home"> 
      <div class="updates"> 
        <p>The 5th Northern Lights Conference takes place place on Friday, 23rd October in the auditorium of historic King's College, Aberdeen. </p> 
        <p>We'll be announcing speakers and releasing tickets shortly. We don't film the talks at Northern Lights, but to get a feel for previous events we've gathered photos under <a href="https://secure.flickr.com/search/?tags=northlightconf">#northlightconf on Flickr</a>, and you can catch the discussion on <a href="https://twitter.com/hashtag/northlightconf?src=hash">twitter</a>.</p>
        <p>You can also see previous years here: <a href="/2014">2014</a>, <a href="http://2013.northernlightsconf.co.uk/">2013</a>, <a href="http://nlc2012.herokuapp.com/">2012</a>, <a href="http://nlc2011.herokuapp.com/">2011</a>.</p> 
      </div>  
      <div class="updates"> 
        <p>Northern Lights is always a little different, this year will be exception. We are putting together an exciting programme of speakers, the return of our open space sessions, and a couple of surprises.</p>
        <p>And remember, the <a href="http://codethecity.org">CodeTheCity</a> civic hacking weekend kicks off the following day, or if you fancy something more competitive check out <a href="http://devbar.co.uk">Devbar</a>.</p> 

      </div> 
    </div> 
  </div>
</div>

 
    
    {% include schedule2015.html %}


      <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>
 
    {% include sponsors2015.html %}
    {% include footer.html %}
 
    </body>
</html>
