<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    {% include hero.html %}
  

<div class="page-content"> 
  <div class="main">
    <div>
    <img src="/assets/2014/auditorium.jpg" />
    </div>
    <div class="home"> 
      <div class="updates"> 
        <p>The 5th Northern Lights Conference will take place place on Friday, 28th October in the auditorium of historic King’s College, Aberdeen.</p> 
      </div>  
      <div class="updates"> 
        <p>We are introducing a <a href="/codeofconduct/">code of conduct</a> this year, which we expect all attendees, sponsors and speakers to follow in order to provide a suitable atmosphere for all participants.</p> 
      </div>  
       <div class="updates"> 
        <p>We are making this an <a href="http://weareupfront.com">#upfront event</a> this year.</p> 
        <p><img alt="#upfront: you can't be what you can't see" src="/assets/img/nlconf/upfront-buttonslogan_small.jpg" /></p> <p>This will help make our stage more accessible to people, who are considering speaking at events in the future. This means <a href="http://weareupfront.com/about/">speakers can share the stage with those who want to speak in the future.</a></p> 
      </div>  
      
    </div> 
  </div>
</div>

    {% include schedule2016.html %}
    


      <div class="picwrap">
    <div class="highlight-projects">
  <section>
    <img src="/assets/img/nlconf/2013-5.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-2.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-1.jpg" />
  </section>
  <section>
    <img src="/assets/img/nlconf/2013-4.jpg" />
  </section>
</div>
</div>

    {% include sponsors2016.html %}
    {% include footer.html %}
 
    </body>
</html>
