<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-common.html %}
    <title>Northern Lights 2013</title>
    <meta name="description" content="Northern Lights Conference is the leading technology and developer conference in the North East of Scotland, returning for 2013.">
  </head>
  <body>
  {% include navigation.html %}
  <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active" style="height:200px;">
          <img src="/assets/img/massive/sky3.jpg" data-src="" alt="First slide">
          <div class="container" style="height:200px;">
            <div class="carousel-caption">
              <h1>Northern Lights 2013</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          {{ content }}
        </div>
        <div class="col-lg-1">
        </div>
      </div>

      <hr class="featurette-divider">

      {% include supporters.html %}

      <hr class="featurette-divider">

      {% include footer.html %}

    </div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
  </body>
</html>